@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    background-color: teal;
    color: rgb(0, 255, 0);
    font-family: "Fredoka", sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: '💩 ';
}

.favourite {
    list-style-type: '👍👍 ';
    color: gold;
}

.favourite2 {
    list-style-type: '😎😎 ';
    color: blue;
}

.favourite3 {
    list-style-type: '🐵🐵 ';
    color: blueviolet;
}

.played {
    text-decoration: line-through;
}